<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,990},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>100w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,874},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>10w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,957},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,794},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,1069},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1039},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>butbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1454},{218,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,58}}</string>
                <key>sourceSize</key>
                <string>{218,58}</string>
            </dict>
            <key>caozuo_bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,653},{158,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,44}}</string>
                <key>sourceSize</key>
                <string>{158,44}</string>
            </dict>
            <key>caozuo_bd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,653},{158,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,44}}</string>
                <key>sourceSize</key>
                <string>{158,44}</string>
            </dict>
            <key>centerbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1765},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,943},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>chuangjian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,820},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
            <key>expbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1286},{633,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,56}}</string>
                <key>sourceSize</key>
                <string>{633,56}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,318},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,939},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>headbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,557},{261,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,108}}</string>
                <key>sourceSize</key>
                <string>{261,108}</string>
            </dict>
            <key>headbd_line_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,548},{110,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,7}}</string>
                <key>sourceSize</key>
                <string>{110,7}</string>
            </dict>
            <key>headbd_line_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,537},{111,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,9}}</string>
                <key>sourceSize</key>
                <string>{111,9}</string>
            </dict>
            <key>js_chatbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,418},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>js_chatbd0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,360},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{720,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,500}}</string>
                <key>sourceSize</key>
                <string>{720,500}</string>
            </dict>
            <key>login_bd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1286},{477,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,272}}</string>
                <key>sourceSize</key>
                <string>{477,272}</string>
            </dict>
            <key>login_gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1919},{134,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,82}}</string>
                <key>sourceSize</key>
                <string>{138,82}</string>
            </dict>
            <key>login_newrole.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1258},{247,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,63}}</string>
                <key>sourceSize</key>
                <string>{247,63}</string>
            </dict>
            <key>login_newrole0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1193},{247,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,63}}</string>
                <key>sourceSize</key>
                <string>{247,63}</string>
            </dict>
            <key>login_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,288},{247,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,65}}</string>
                <key>sourceSize</key>
                <string>{247,65}</string>
            </dict>
            <key>login_start0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,39},{247,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,65}}</string>
                <key>sourceSize</key>
                <string>{247,65}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1708},{298,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,272}}</string>
                <key>sourceSize</key>
                <string>{298,272}</string>
            </dict>
            <key>name_humeier.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1708},{145,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,55}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>name_yangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1117},{96,55}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,55}}</string>
                <key>sourceSize</key>
                <string>{104,55}</string>
            </dict>
            <key>nan_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1286},{285,420}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{285,420}}</string>
                <key>sourceSize</key>
                <string>{295,420}</string>
            </dict>
            <key>nan_zhu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1286},{285,420}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{285,420}}</string>
                <key>sourceSize</key>
                <string>{295,420}</string>
            </dict>
            <key>nochips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,1144},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>nv_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,653},{284,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,420}}</string>
                <key>sourceSize</key>
                <string>{284,420}</string>
            </dict>
            <key>nv_zhu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,820},{284,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,420}}</string>
                <key>sourceSize</key>
                <string>{284,420}</string>
            </dict>
            <key>qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,885},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>qd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1921},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
            <key>rolobd.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1708},{299,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,335}}</string>
                <key>sourceSize</key>
                <string>{299,335}</string>
            </dict>
            <key>selec_roletbd.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,1059},{97,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,56}}</string>
                <key>sourceSize</key>
                <string>{97,56}</string>
            </dict>
            <key>shanchu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,1001},{97,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,56}}</string>
                <key>sourceSize</key>
                <string>{97,56}</string>
            </dict>
            <key>shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,939},{252,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,285}}</string>
                <key>sourceSize</key>
                <string>{252,285}</string>
            </dict>
            <key>skillsbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1765},{152,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,142}}</string>
                <key>sourceSize</key>
                <string>{152,142}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1242},{138,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,139}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>start0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,653},{138,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,139}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>startbd.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>tip_bdall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,318},{791,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{791,333}}</string>
                <key>sourceSize</key>
                <string>{791,333}</string>
            </dict>
            <key>tip_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1454},{207,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,83}}</string>
                <key>sourceSize</key>
                <string>{207,83}</string>
            </dict>
            <key>tip_qd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1382},{207,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,83}}</string>
                <key>sourceSize</key>
                <string>{207,83}</string>
            </dict>
            <key>tip_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1591},{211,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,87}}</string>
                <key>sourceSize</key>
                <string>{211,87}</string>
            </dict>
            <key>tip_qx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1229},{211,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,87}}</string>
                <key>sourceSize</key>
                <string>{211,87}</string>
            </dict>
            <key>tip_titlebd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1389},{224,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,63}}</string>
                <key>sourceSize</key>
                <string>{224,63}</string>
            </dict>
            <key>tipbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{834,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{834,314}}</string>
                <key>sourceSize</key>
                <string>{834,314}</string>
            </dict>
            <key>ui_chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,939},{82,49}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{92,55}</string>
            </dict>
            <key>ui_chuangjian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1135},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>ui_zbcity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1323},{228,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,64}}</string>
                <key>sourceSize</key>
                <string>{228,64}</string>
            </dict>
            <key>xuetiaobd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,360},{100,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,13}}</string>
                <key>sourceSize</key>
                <string>{100,13}</string>
            </dict>
            <key>xuetiaohongbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2008},{90,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,6}}</string>
                <key>sourceSize</key>
                <string>{90,6}</string>
            </dict>
            <key>xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,1174},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>yaoganbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,653},{140,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,133}}</string>
                <key>sourceSize</key>
                <string>{140,133}</string>
            </dict>
            <key>yinzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,2},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_image_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5284286e914fd071ba7dfd31669d274$</string>
            <key>textureFileName</key>
            <string>ui_image_1.png</string>
        </dict>
    </dict>
</plist>
