<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_cj3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1595},{480,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,395}}</string>
                <key>sourceSize</key>
                <string>{480,395}</string>
            </dict>
            <key>eff_cj3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1534},{560,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,479}}</string>
                <key>sourceSize</key>
                <string>{560,479}</string>
            </dict>
            <key>eff_cj3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2451,714},{633,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,535}}</string>
                <key>sourceSize</key>
                <string>{633,535}</string>
            </dict>
            <key>eff_cj3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2071,2},{710,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,567}}</string>
                <key>sourceSize</key>
                <string>{710,567}</string>
            </dict>
            <key>eff_cj3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{793,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{793,585}}</string>
                <key>sourceSize</key>
                <string>{793,585}</string>
            </dict>
            <key>eff_cj3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2988,593},{522,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,588}}</string>
                <key>sourceSize</key>
                <string>{522,588}</string>
            </dict>
            <key>eff_cj3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2533,1349},{524,589}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,589}}</string>
                <key>sourceSize</key>
                <string>{524,589}</string>
            </dict>
            <key>eff_cj3_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2640,2},{522,589}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,589}}</string>
                <key>sourceSize</key>
                <string>{522,589}</string>
            </dict>
            <key>eff_cj3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,1534},{455,633}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,633}}</string>
                <key>sourceSize</key>
                <string>{455,633}</string>
            </dict>
            <key>eff_cj3_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,746},{550,715}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,715}}</string>
                <key>sourceSize</key>
                <string>{550,715}</string>
            </dict>
            <key>eff_cj3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{673,742}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,742}}</string>
                <key>sourceSize</key>
                <string>{673,742}</string>
            </dict>
            <key>eff_cj3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,800},{791,745}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{791,745}}</string>
                <key>sourceSize</key>
                <string>{791,745}</string>
            </dict>
            <key>eff_cj3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{796,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,730}}</string>
                <key>sourceSize</key>
                <string>{796,730}</string>
            </dict>
            <key>eff_cj3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{777,660}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{777,660}}</string>
                <key>sourceSize</key>
                <string>{777,660}</string>
            </dict>
            <key>eff_cj3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,781},{751,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,561}}</string>
                <key>sourceSize</key>
                <string>{751,561}</string>
            </dict>
            <key>eff_cj3_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1593},{200,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,289}}</string>
                <key>sourceSize</key>
                <string>{200,289}</string>
            </dict>
            <key>eff_cj3_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1595},{209,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,318}}</string>
                <key>sourceSize</key>
                <string>{209,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logineff3.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ae6bca7e4fc1b9b1d6afd7bedb9212c$</string>
            <key>textureFileName</key>
            <string>logineff3.png</string>
        </dict>
    </dict>
</plist>
