<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_cj1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>eff_cj1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{199,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,99}}</string>
                <key>sourceSize</key>
                <string>{199,99}</string>
            </dict>
            <key>eff_cj1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{197,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,99}}</string>
                <key>sourceSize</key>
                <string>{197,99}</string>
            </dict>
            <key>eff_cj1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,105},{194,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,98}}</string>
                <key>sourceSize</key>
                <string>{194,98}</string>
            </dict>
            <key>eff_cj1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,103},{193,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,98}}</string>
                <key>sourceSize</key>
                <string>{193,98}</string>
            </dict>
            <key>eff_cj1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,202},{189,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,97}}</string>
                <key>sourceSize</key>
                <string>{189,97}</string>
            </dict>
            <key>eff_cj1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,300},{187,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,95}}</string>
                <key>sourceSize</key>
                <string>{187,95}</string>
            </dict>
            <key>eff_cj1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{185,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,95}}</string>
                <key>sourceSize</key>
                <string>{185,95}</string>
            </dict>
            <key>eff_cj1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,300},{183,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,92}}</string>
                <key>sourceSize</key>
                <string>{183,92}</string>
            </dict>
            <key>eff_cj1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,301},{181,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,91}}</string>
                <key>sourceSize</key>
                <string>{181,91}</string>
            </dict>
            <key>eff_cj1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,394},{181,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,90}}</string>
                <key>sourceSize</key>
                <string>{181,90}</string>
            </dict>
            <key>eff_cj1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,397},{178,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,89}}</string>
                <key>sourceSize</key>
                <string>{178,89}</string>
            </dict>
            <key>eff_cj1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,398},{176,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{176,90}</string>
            </dict>
            <key>eff_cj1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{175,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,89}}</string>
                <key>sourceSize</key>
                <string>{175,89}</string>
            </dict>
            <key>eff_cj1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,486},{175,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,88}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>eff_cj1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,398},{176,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{176,90}</string>
            </dict>
            <key>eff_cj1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,486},{176,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,89}}</string>
                <key>sourceSize</key>
                <string>{176,89}</string>
            </dict>
            <key>eff_cj1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,394},{179,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,90}}</string>
                <key>sourceSize</key>
                <string>{179,90}</string>
            </dict>
            <key>eff_cj1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{179,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,91}}</string>
                <key>sourceSize</key>
                <string>{179,91}</string>
            </dict>
            <key>eff_cj1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{182,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{182,91}</string>
            </dict>
            <key>eff_cj1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,205},{184,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,93}}</string>
                <key>sourceSize</key>
                <string>{184,93}</string>
            </dict>
            <key>eff_cj1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,301},{186,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,95}}</string>
                <key>sourceSize</key>
                <string>{186,95}</string>
            </dict>
            <key>eff_cj1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,203},{188,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,95}}</string>
                <key>sourceSize</key>
                <string>{188,95}</string>
            </dict>
            <key>eff_cj1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,203},{189,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,96}}</string>
                <key>sourceSize</key>
                <string>{189,96}</string>
            </dict>
            <key>eff_cj1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,103},{193,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,97}}</string>
                <key>sourceSize</key>
                <string>{193,97}</string>
            </dict>
            <key>eff_cj1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,103},{195,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,98}}</string>
                <key>sourceSize</key>
                <string>{195,98}</string>
            </dict>
            <key>eff_cj1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{197,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,99}}</string>
                <key>sourceSize</key>
                <string>{197,99}</string>
            </dict>
            <key>eff_cj1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{197,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,99}}</string>
                <key>sourceSize</key>
                <string>{197,99}</string>
            </dict>
            <key>eff_cj1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{199,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,101}}</string>
                <key>sourceSize</key>
                <string>{199,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logineff1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7c5252fccc242e9548bfa99d62ab402$</string>
            <key>textureFileName</key>
            <string>logineff1.png</string>
        </dict>
    </dict>
</plist>
