<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_cj2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1819},{498,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,457}}</string>
                <key>sourceSize</key>
                <string>{498,457}</string>
            </dict>
            <key>eff_cj2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1800},{499,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,454}}</string>
                <key>sourceSize</key>
                <string>{499,454}</string>
            </dict>
            <key>eff_cj2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3329,909},{503,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,452}}</string>
                <key>sourceSize</key>
                <string>{503,452}</string>
            </dict>
            <key>eff_cj2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1368},{508,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,451}}</string>
                <key>sourceSize</key>
                <string>{508,451}</string>
            </dict>
            <key>eff_cj2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1349},{522,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,449}}</string>
                <key>sourceSize</key>
                <string>{522,449}</string>
            </dict>
            <key>eff_cj2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2796,907},{531,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,443}}</string>
                <key>sourceSize</key>
                <string>{531,443}</string>
            </dict>
            <key>eff_cj2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,925},{539,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,440}}</string>
                <key>sourceSize</key>
                <string>{539,440}</string>
            </dict>
            <key>eff_cj2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2249,906},{545,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,439}}</string>
                <key>sourceSize</key>
                <string>{545,439}</string>
            </dict>
            <key>eff_cj2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2261,461},{555,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,443}}</string>
                <key>sourceSize</key>
                <string>{555,443}</string>
            </dict>
            <key>eff_cj2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3387,457},{558,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,450}}</string>
                <key>sourceSize</key>
                <string>{558,450}</string>
            </dict>
            <key>eff_cj2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2824,2},{561,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,455}}</string>
                <key>sourceSize</key>
                <string>{561,455}</string>
            </dict>
            <key>eff_cj2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2261,2},{561,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,457}}</string>
                <key>sourceSize</key>
                <string>{561,457}</string>
            </dict>
            <key>eff_cj2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{561,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,459}}</string>
                <key>sourceSize</key>
                <string>{561,459}</string>
            </dict>
            <key>eff_cj2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,465},{561,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,459}}</string>
                <key>sourceSize</key>
                <string>{561,459}</string>
            </dict>
            <key>eff_cj2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{563,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,461}}</string>
                <key>sourceSize</key>
                <string>{563,461}</string>
            </dict>
            <key>eff_cj2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{563,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,461}}</string>
                <key>sourceSize</key>
                <string>{563,461}</string>
            </dict>
            <key>eff_cj2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{563,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,460}}</string>
                <key>sourceSize</key>
                <string>{563,460}</string>
            </dict>
            <key>eff_cj2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,2},{562,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,461}}</string>
                <key>sourceSize</key>
                <string>{562,461}</string>
            </dict>
            <key>eff_cj2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,464},{562,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,459}}</string>
                <key>sourceSize</key>
                <string>{562,459}</string>
            </dict>
            <key>eff_cj2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{562,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,455}}</string>
                <key>sourceSize</key>
                <string>{562,455}</string>
            </dict>
            <key>eff_cj2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3387,2},{559,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,453}}</string>
                <key>sourceSize</key>
                <string>{559,453}</string>
            </dict>
            <key>eff_cj2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2824,459},{557,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,446}}</string>
                <key>sourceSize</key>
                <string>{557,446}</string>
            </dict>
            <key>eff_cj2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,465},{551,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,440}}</string>
                <key>sourceSize</key>
                <string>{551,440}</string>
            </dict>
            <key>eff_cj2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,907},{541,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,440}}</string>
                <key>sourceSize</key>
                <string>{541,440}</string>
            </dict>
            <key>eff_cj2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,926},{534,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,440}}</string>
                <key>sourceSize</key>
                <string>{534,440}</string>
            </dict>
            <key>eff_cj2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2239,1347},{527,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,447}}</string>
                <key>sourceSize</key>
                <string>{527,447}</string>
            </dict>
            <key>eff_cj2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1367},{514,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,450}}</string>
                <key>sourceSize</key>
                <string>{514,450}</string>
            </dict>
            <key>eff_cj2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1383},{505,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,452}}</string>
                <key>sourceSize</key>
                <string>{505,452}</string>
            </dict>
            <key>eff_cj2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2768,1352},{501,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,451}}</string>
                <key>sourceSize</key>
                <string>{501,451}</string>
            </dict>
            <key>eff_cj2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2194,1796},{499,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,455}}</string>
                <key>sourceSize</key>
                <string>{499,455}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logineff2.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5269a96b729876e188617c0c6db1d604$</string>
            <key>textureFileName</key>
            <string>logineff2.png</string>
        </dict>
    </dict>
</plist>
